<mat-card fxFlex>
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{ post.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/storage/{{ post.file }}">
    <mat-card-content>
        <p>
            {{ post.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="like()" color="accent">Like</button>
        <button mat-raised-button (click)="delete()" color="warn">Delete</button>
        <mat-icon *ngIf="post.likes > 0" color="accent" [matBadge]="post.likes" matBadgePosition="above after" matBadgeColor="accent" matBadgeOverlap="false">favorite</mat-icon>
    </mat-card-actions>
</mat-card>